# This file contains the required packages for this web app

streamlit
langchain
pandas
matplotlib
seaborn
transformers
pytesseract
Pillow
PyPDF2
torch
st-paywall
requests
python-dotenv
google-generativeai
